/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Utility Style or Common Style  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation style  */
header{
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}
.container{
    width: 1164px;
    
}
.top-section{
    margin-top: 42px;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
nav{
    /* border:1px solid white; */
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    height: 44px;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar a{
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
    font-size: 16px;
    margin-right: 36px;
    padding-bottom: 5px;
    transition: all ease 0.5s;
}
.nav-bar a:hover{
    border-bottom: 2px solid white;
    border-radius: 4px;
    color: white;
}
.btn{
    text-decoration: none;
    color:white;
    font-size: 18px;
    /* display: block; */
    background-color: #E02C6D;
    padding: 10px 24px;
  
}

.fas{
    padding: 0px 8px;
    transition: transform linear 0.3s;
}
.btn:hover .fas{
    transform:scale(1.2) ;
}

/* Top Banner Sec Style  */
.top-banner-sec, .highlight-section{
    width: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    padding-top:67px;
    padding-bottom:86px;
}
.left-side{

}
.top-banner-title{
    font-size: 64px;
    margin-bottom: 27px;
}
.right-side{
    transition: all ease-in-out 0.5s;
}
.right-side .banner img{
    width: 556.01px;
    height: 438px;
    transition: all ease-in-out 0.5s;
}
.right-side:hover img{
    transform: scale(1.1);
    /* box-shadow: 1px 1px 6px 5px rgba(128, 128, 128, 0.24); */
}

/* Players section style  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.players{
    margin-top:70px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:30px;
    grid-row-gap:27px;
    padding-bottom: 90px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* width: 300px; */
    transition: box-shadow ease-in-out 0.5s;
}
.player:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.473);
}
.player-pic{
    
}
.player-pic img{
    width: 338px;
    height: 294px;
}
.player-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.player-info h3{
    color: #18191F;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 15px;
}
.player-info p{
    text-align: justify;
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Highlight Section  Style*/

.highlight-section{
    color: black;
    width: 1164px;
    /* grid-column-gap: 102px; */
}
.highlight-section > .right-side > .banner{
    overflow: hidden;
}
.highlight-section > .right-side > .banner >img{
    width: 567px;
    height: 427px;
}
.banner-title{
    font-size: 48px;
    color: #0A0826;
    margin-bottom: 10px;
}
.banner-text{
    color:#6C6C6C;
    font-size: 16px;
    margin-bottom: 24px;
}
/* News Section Style  */
.news-section{
    padding-bottom: 50px;
    margin-bottom:50px ;
}
.news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;
}
.news-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px;
    
}
.news-item:hover .thumbnail img{
    transform: scale(1.1);
}
.thumbnail{
    width: 100%;
    overflow: hidden;
    
    /* width: 300px; */
    /* height: 200px; */
    /* background-color: salmon; */
}
.thumbnail img{
    width: 100%;
    transition: all ease 0.5s;
    /* height: 100%; */
}

.news-item h4{

}
.news-item span{
    color: rgba(0, 0, 0, 0.705);
}

/* Subscribe Section style */
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding-bottom: 50px;
}
.subscribe h1{
    font-size: 50px;
}
input{
    display: block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border:0px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transition: all ease-in-out 0.5s;
}
input:hover,:focus{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.473);
    transform: scale(1.1);
}
#subcribe-btn{
    text-align: center;
    display: block;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 300px;
}

/* Footer Style  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.logo{

}
.logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon a{
    text-decoration: none;
}
.fab{
    font-size: 32px;
    color: #969BAB;
    padding-right: 10px;
}

/* Responsive Media Quiry */
/* mobile divice  */
@media only screen and (max-width:688px){
    header{
        /* background-color: red; */
        margin: 0px;
        
    }
    .container{
        width: 100%;
    }
    .highlight-section{
        width: 100%;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        /* align-items: center; */
        display: none;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items:stretch; */
    }
    .top-banner-sec{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 100px;
        /* padding-top:67px;
        padding-bottom:86px; */
    }
    .right-side .banner img{
        width: 80%;
        height: 80%;
    }
    .top-banner-title{
        font-size: 40px;
        margin-bottom: 20px;
        padding: 0px 20px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    .highlight-section{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 50px;
    }
    .logo img{
        width: 80%;
        height: 80%;
    }
    .news{
        grid-template-columns: repeat(1,1fr);
        grid-column-gap:30px;
        grid-row-gap:30px;
    }
    .highlight-section .right-side .banner img{
        width: 70%;
        height: 90%;
    }

    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}